.App {

}
body{
  
}

Form.Group{

}
.formAll{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url("../public/img/mountainBg.png");
}
h2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.notificationAisle{
  /* border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: min( var(--sampler-comp-radius-scale),var(--sampler-comp-radius-scale-max) );
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
  color: rgb(255, 255, 255); */
  margin-left: 10rem;
  /* width: 15rem;
  height: 8rem; */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.timeCounter{
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: min( var(--sampler-comp-radius-scale),var(--sampler-comp-radius-scale-max) );
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
  color: rgb(255, 255, 255);
  width: 15rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.quoteContainer{
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: min( var(--sampler-comp-radius-scale),var(--sampler-comp-radius-scale-max) );
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
  color: rgb(255, 255, 255);
  width: 25rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.formSection{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
 


}

.formBlock{
  width:50%;
  padding: 3%;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.292);
    border-radius: min( var(--sampler-comp-radius-scale),var(--sampler-comp-radius-scale-max) );
    box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
    color: rgb(255, 255, 255);
  margin-bottom: 3rem;
}

.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
}
.submitButton{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ListGroup{
  width:25rem;
  margin: 5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


